@charset "utf-8";

@import url("//fonts.googleapis.com/css?family=Dosis:600,800");
@import url("//fonts.googleapis.com/css?family=Nunito:700");
@import url("//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");
@import url(http://fonts.googleapis.com/css?family=Gloria+Hallelujah);
@import url(http://fonts.googleapis.com/css?family=Indie+Flower);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:300);

//variables

//body
$base-background-color: #eee;
$base-font-color: #111;
$base-font-family: Josefin Sans, Helvetica, Arial, sans-serif;
$base-font-size: 100%;
$base-font-weight: 300;
$base-line-height: 1.5;
$base-width:80%;

//header
$header-font-family:Indie Flower;
$header-font-size: $base-font-size * 2.800;
$header-subtitle-font-size: $base-font-size * 1.300;

//page
$page-heading-font-size:$base-font-size * 1.500;
$post-link-font-size:$base-font-size*1.200;
$post-meta-font-size:$base-font-size*0.800;

//breakpoints
$screen-large-breakpoint: 980px;
$screen-medium-breakpoint:779px;

$base-border: 1px solid gainsboro;
//spacing
$base-spacing:30px;



.highlightText{
    font-weight: bold;
}

%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}