@charset "utf-8";

//fonts
@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah);
@import url(https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900);

//variables declaration

//body
$base-background-color: #fff;
$base-font-color: #111;
$base-font-family: Maven Pro, Helvetica, Arial, sans-serif;
$base-font-size: 100%;
$base-font-weight: 100;
$base-line-height: 1.5;
$base-width:800px;

//header
$header-font-family:Gloria Hallelujah;
$header-font-size: $base-font-size * 2.800;
$header-subtitle-font-size: $base-font-size * 1.300;

//page
$page-heading-font-size:$base-font-size * 1.500;
$post-link-font-size:$base-font-size*1.200;
$post-meta-font-size:$base-font-size*0.800;
$page-content-width:600px;

//breakpoints
$screen-large-breakpoint: 899px;
$screen-medium-breakpoint:480px;

$base-border: 1px solid gainsboro;
$base-link-color: crimson;
//spacing
$base-spacing:30px;
