.ribbon {
  background-color: $base-background-color;
  overflow: hidden;
  white-space: nowrap;
  /* top left corner */
  position: absolute;
  right: -45px;
  top: 30px;
  /* 45 deg ccw rotation */
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
  /* shadow */
  -webkit-box-shadow: 0 0 10px $base-font-color;
     -moz-box-shadow: 0 0 10px $base-font-color;
          box-shadow: 0 0 10px $base-font-color;
}
.ribbon a {
  border: 1px solid $base-background-color;
  color: #fff;
  display: block;
  font: bold 81.25% $header-font-family;
  margin: 1px 0;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  /* shadow */
  text-shadow: 0 0 5px #444;
}