/* ----- base ----- */
body{
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: $base-font-weight;
    color: $base-font-color;
    text-align: left;
    background-color: $base-background-color;
    -webkit-text-size-adjust: 100%;
}

/* ----- links ----- */
a {
    color:$base-font-color;
    text-decoration: none;

    &:visited {
        color: $base-font-color;
    }

    &:hover {
        color: $base-font-color;
    }
}

.highlightText{
    font-weight: bold;
    color: $base-link-color;
}

%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.tags, .tags a{
    color:$base-link-color;
    font-size: 16px;
}

/* ----- body ----- */
.body {
    margin: 0 auto;
    width: $base-width;
    @extend %clearfix;
    @include media-query($screen-large-breakpoint){
        width:90%;
    }

    @include media-query($screen-medium-breakpoint){
        width:95%;
    }
}

/* ----- header ----- */
.header {
    min-height: 110px;
    padding-top:$base-spacing;
    .header-title {
        font-family:$header-font-family;
        font-size: $header-font-size;
        font-weight: 300;
    }
    .header-subtitle{
        float:left;
        font-size: $header-subtitle-font-size;
        min-width: 100px;
    }
    @include media-query($screen-medium-breakpoint){
        .header-title{
            text-align: center;
        }
        .header-subtitle{
            float: none;
            width: 100%;
            text-align: center;
            padding-bottom: 10px;
        }
    }
}

/* ----- navigation ------ */
.navigation-menu {
    float:right;
    .page-link {
        font-size: $header-subtitle-font-size;
        color: $base-font-color;
        &:not(:first-child) {
            margin-left: $base-spacing;
        }
    }
    @include media-query($screen-medium-breakpoint) {
        float:none;
        background-color: $base-background-color;
        .page-link{
            text-align: center;
            display: block;
            padding: 5px 10px;
            background-color:$base-link-color;
            color: #fff;
            &:not(:first-child) {
                margin-left: 0px;
            }
        }
    }
}

/* ----- page ----- */
.page-content {
    padding: $base-spacing 0;
    width: $page-content-width;
    @extend %clearfix;
    .page-heading {
        font-size: $page-heading-font-size;
        margin-bottom: $base-spacing / 2;
    }
    @include media-query($screen-large-breakpoint) {
        width: 100%;
    }
}

.post-list {
    list-style: none;
    > li {
        float: left;
        margin-bottom: $base-spacing;
        border-bottom:1px solid gainsboro;
        width: 100%;
        >a{
            float: right;
            color:$base-link-color;
        }
    }
    p{
        font-size: $base-font-size * 1.130;
        padding-bottom: $base-spacing;
    }
     @extend %clearfix;
}

.page-post-meta{
    font-size:$post-meta-font-size;
    font-weight: 300;
    @include media-query($screen-medium-breakpoint) {
        font-size: $base-font-size * 0.800;
    }
}

.post-link{
    font-size: $post-link-font-size;
    font-weight: 700;
}

/* ----- posts ----- */
.post{
    padding: $base-spacing 0;
    width: $base-width;
    @extend %clearfix;
    @include media-query($screen-large-breakpoint) {
        width: 100%;
    }
    .post-header {
        font-size: $page-heading-font-size;
        margin-bottom: $base-spacing / 2;
    }

    .post-title {
        font-size: $base-font-size * 1.200;
    }

    .post-meta{
        font-size:$post-meta-font-size * 0.800;
    }
    .post-content {
        margin-bottom: $base-spacing;
        a{
            color:$base-link-color;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

/* ----- about me ----- */
.about-me{
    >p{
        font-size: $base-font-size * 1.130;
        padding-bottom: $base-spacing;
    }
}

/* ----- footer ----- */
.footer{
    text-align: center;
    margin-bottom: 50px;
    .fa{
        margin-left: 5px;
        font-size: $base-font-size;
        @include media-query($screen-large-breakpoint) {
            margin: 0px 10px;
        }
        @include media-query($screen-medium-breakpoint) {
            margin: 10px 10px;
        }
    }
}

/* ----- pagination ----- */
.pagination{
    width: $base-width;
    margin-bottom: $base-spacing;
    @include media-query($screen-large-breakpoint) {
        width: 100%;
    }
    >ul li{
        display: inline-block;
        line-height: 100%;
        letter-spacing: normal;
        margin: 0 5px;
    }
    .previous-post{
        float: left;
        >a{
            color: #fff;
        }
    }
    .next-post{
        float: right;
        >a{
            color: #fff;
        }
    }
     @extend %clearfix;
}

/* ----- resume ----- */
.page-resume{
    h2:not(.company){
        font-size: $base-font-size * 1.200;
        color:$base-link-color;
        font-weight: bold;
        margin: 10px 0px;
    }   
    .company{
        font-size: $base-font-size * 1.100;
        font-weight: bold;
    }
    .education{
        margin-bottom: 10px;
        padding-bottom: 5px;
        border-bottom: 1px solid gainsboro;
    }

    .bioarticle{
        margin-bottom: 10px;
        padding-bottom: 5px;
        border-bottom: 1px solid gainsboro;

        .dates{
            display:inline-block;
            float:right;

            @include media-query($screen-large-breakpoint){
                float: none;
            }
        }

        .bioarticleinner{
            margin-bottom: 10px;
            padding-bottom: 5px;

                >h3{
                font-weight:bold;
            }
        }
    }
    .pinfo{
        padding-right: 10px;
    }
}

.active{
    display: block;
    line-height: 100%;
    text-align: center;
    padding: 7px 10px;
    font-size: 14px;
    -webkit-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
    border-color: $base-link-color;
    background: $base-link-color;
    color: #fff
}

/* ----- blockquotes ----- */
blockquote {
    color: $base-font-color;
    border-left: 4px solid gainsboro;
    padding-left: $base-spacing / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}

/* ----- code ----- */
pre,
code {
    font-size: 15px;
    border: 1px solid gainsboro;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}
